{% extends "base.html" %}

{% block title %}Rajeev's Profile{% endblock %}

{% block content %}
<section class="one-pager">
			<span class="corner-v"></span>
            <span class="corner-v second"></span>
			
			<div class="one-pager-grid">
			    <div class="one-pager-main">
					   <header class="career-pager-header">
							  <p class="role">Education – National Institute of Technology Calicut</p>
							  <a
							    href="https://www.nitt.edu/"
							    target="_blank"
							    rel="noopener noreferrer"
							    class="external-link"
							  >
							    Visit Website
							  </a>
						</header>
				   
					  <p class="justify">
					    National Institute of Technology Calicut (NITC) is one of the 31 institutions of national importance.
					    The Institute offers bachelors, masters and doctoral degree programs in Engineering, Science,
					    Technology and Management.
						  
						Set in a picturesque landscape at the foothills of the Western Ghats, NIT Calicut is located about 22 kilometres
					    north-east of Calicut city in the state of Kerala, India. It stretches over a length of about 1.5 kilometres
					    along the Calicut-Mukkam road, extending over an area of approximately 120 hectares.
					  </p>
			    </div>
				
				<aside class="one-pager-logos">
	
				</aside>
			</div>
</section>

{% endblock %}